* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html {
  scrollbar-width: none;
  /* background-color: var(--color-light-blue); */
  background-image: url('../images/background.jpg');
  background-repeat: none;
  font-family: sans-serif;
}
